%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, class: 'form-control'
  .field
    = f.label :email
    %br/
    = f.email_field :email, autocomplete: "email", class: 'form-control'
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
  .actions
    = f.submit "Sign up", class: 'btn btn-primary'
= render "devise/shared/links"
