%h1 Users
%table
  %thead
    %tr
      %th Name
      %th Email
      %th Registered at
      %th{colspan: '1'}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.created_at
        %td= link_to 'Show', user