%p
  %strong Name:
  = @user.name

%p
  %strong Email:
  = @user.email

%p
  %strong Created at:
  = @user.created_at

%p
  %strong Updated at:
  = @user.updated_at

%p
  %strong Role:
  - if @user.has_role? :admin
    Administrator
  - else
    User

= link_to 'Back', :back
