= form_for @order do |f|
  #errors
    =render 'layouts/errors', entity: @order, entity_name: 'order'

  - if (@order.dishes.blank?)
    Your car is Empty
  - else
    #dishes
      =render 'dishes/dishes', dishes: @order.dishes, is_order: true

    %p
      Summary price:
      %span#summary_price
        =@order.total_price.round(2)

    .actions
      = f.submit 'Submit'
