%table
  %thead
    %tr
      -if admin?
        %th Username
      %th Created at
      %th State
      %th Summary price
      %th
      %th

  %tbody
    - orders.each do |order|
      %tr{ data: { id: order.id } }
        -if admin?
          %td= order.user.name
        %td= order.created_at
        %td= order.status.humanize
        %td= order.total_price.round(2)
        %td= link_to 'Show', order
        - if admin?
          %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }