%h1 Listing orders


= form_with url: orders_path, method: :get do |form|
  = form.date_field :date, placeholder: Date.today, class: 'form-control'
  = form.submit :Search

-if admin?
  %p
    Summary price for selected period:
    %span#summary_price= @summary_price

#orders
  =render 'orders/orders', orders: @orders
=will_paginate @orders
  
