- if admin?
  %p
    %strong Username:
    = @order.user.name

%p
  %strong Created at:
  = @order.created_at

%p
  %strong Status:
  = @order.status.humanize

- if !(@order.dishes.nil? || @order.dishes.blank?)
  %p
    %strong Dishes:
    %table
      %thead
        %tr
          %th Name
          %th Price
          %th Type
      %tbody
        - @order.dishes.each do |dish|
          %tr{ data: { id: dish.id } }
            %td= dish.name
            %td= dish.price.round(2)
            %td= dish.dish_type.humanize

%p
  %strong Summary price:
  = @order.total_price

= link_to 'Back', :back
