%table
  %thead
    %tr
      %th Name
      %th Price
      %th Type
      %th
      %th
      %th
      %th

  %tbody
    - dishes.each do |dish|
      %tr{ data: { id: dish.id } }
        %td= dish.name
        %td= dish.price.round(2)
        %td= dish.dish_type.humanize
        %td= link_to 'Show', dish
        - if admin?
          %td= link_to 'Edit', edit_dish_path(dish)
          %td= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' }
        - if not_admin?
          -if is_order
            %td= link_to 'Remove from cart', remove_dish_path(dish), method: :post, remote: true, class: 'btn btn-danger'
          -else
            %td= link_to 'Add to cart', add_dish_path(dish), method: :post, remote: true, class: 'btn btn-success' if dish.available_today?