= form_for @dish do |form|
  #errors
    =render 'layouts/errors', entity: @dish, entity_name: 'dish'

  .field
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .field
    = form.label :price
    = form.number_field :price, :class => 'text_field form-control', step: 0.01, min: 0.01
  .field
    = form.label :day_of_the_week
    = form.select :day_of_the_week, Dish.day_of_the_weeks.map { |key, value| [key.humanize, key] }, { selected: :weekday_not_specified }, class: 'form-control'
  .field
    = form.label :dish_type
    = form.select :dish_type, Dish.dish_types.map { |key, value| [key.humanize, key] }, {}, class: 'form-control'
  .field
    = form.label :single_day
    = form.date_field :single_day, class: 'form-control'
  %span.picture
    = form.label :picture
    = form.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'js-picture form-control'
    = form.hidden_field :picture_cache
    = image_tag(@dish.picture_url, size: '300x200') if @dish.picture?
  - if !@dish.new_record? && @dish.picture?
    %p
      %label
        = form.check_box :remove_picture
        Remove picture
  :javascript
    $('.js-picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });

  .actions
    = form.submit 'Save', class: 'btn btn-primary'
