<% if @order.errors.blank? %>
  $("p.notice").html("<%=@dish.name %> was added to your cart");
  $("#errors").html("")
<% else %>
  $("p.notice").html("");
  $("#errors").html("<%= escape_javascript(render('layouts/errors', entity: @order, entity_name: 'order')) %>")
<% end %>