= javascript_include_tag 'pagination'
%h1 Listing dishes

#errors

.links
  = link_to 'All', dishes_path
  = link_to 'Today', dishes_path(dish_filter: 'today')
  - @weekdays.each do |weekday|
    = link_to weekday.humanize, dishes_path(dish_filter: weekday)


#dishes
  =render 'dishes/dishes', dishes: @dishes, is_order: false
=will_paginate @dishes

%br

- if admin?
  = link_to 'New Dish', new_dish_path
