<% if @order.errors.blank? %>
  $("p.notice").html("<%=@dish.name %> was removed from your cart")
  <% if @order.dishes.blank? %>
    $("#order").html("<%= escape_javascript(render('orders/form')) %>")
  <% else %>
    $("#errors").html("");
    $("#summary_price").html("<%=@order.total_price.round(2) %>");
    $('tr[data-id=<%=@dish.id %>]').hide()
  <% end %>
<% else %>
  $("p.notice").html("");
  $("#errors").html("<%= escape_javascript(render('layouts/errors', entity: @order, entity_name: 'order')) %>")
<% end %>