%p
  %strong Name:
  = @dish.name

%p
  %strong Price:
  = @dish.price.round(2)

%p
  %strong Dish type:
  = @dish.dish_type.humanize

%p
  %strong Available at:
  - if @dish.weekday_not_specified?
    = @dish.single_day
  - else
    = @dish.day_of_the_week.humanize

%span.picture
  = image_tag(@dish.picture_url, size: '300x200') if @dish.picture?

%div
  - if admin?
    = link_to 'Edit', edit_dish_path(@dish)

  = link_to 'Back', :back
