- if entity.errors.any?
  #error_explanation
    %h2= "#{pluralize(entity.errors.count, "error")} prohibited this #{entity_name} from being saved:"
    %ul
      - entity.errors.full_messages.each do |message|
        %li= message