%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Dishes", dishes_path
          %li= link_to "Orders", orders_path
          %li= link_to "Cart", new_order_path
          - if user_signed_in?
            - if current_user.has_role? :admin
              %li= link_to "Users", users_path
            %li.dropdown
              %a#dropdownMenuLink.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account
                %b.caret
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                %li.dropdown-item= link_to "Profile", current_user
                %li.dropdown-item= link_to "Edit profile", edit_user_registration_path
                %li.divider
                %li.dropdown-item
                  = link_to "Log out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Log in", new_user_session_path
